#route {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

#map {
    height:550px;
    width: 100%;
    max-width: 1200px;
}

#plot {
    height: 350px;
    width: 100%;
    max-width: 1200px;
}

.lorem {
    text-align: justify;
}
