.section {
    margin: auto;
}

.section-title {
    text-decoration: underline;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.legend-container {
    background-image: url(./ExplodedView.jpg);
}

#questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#questions div {
    padding-top: 10px;
}

#guidon {
    width: 800px;
    height: 460px;
    background-size: 300%;
    background-position: -35px -35px;
}

#moyeulibre {
    width: 650px;
    height: 550px;
    background-size: 400%;
    background-position: -1190px -1270px;
}

#roue {
    width: 700px;
    height: 520px;
    background-size: 450%;
    background-position: -2400px -570px;
}

.quiz-selector {
    position: relative;
    width: 130px;
}